@import url('https://fonts.cdnfonts.com/css/seven-segment');

body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-image: url("image.jpg");
    background-size: cover;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: 1B244A;  
   width: 575px;
   height: 385px;
   font-family: Verdana;
   font-weight: 700;
   border-radius: 10px;
}

h3{
    margin-top: 68px;
    color: white;
    font-size: 40px;
    font-size: 40px;
}
p{
    width: 150px;
    height: 120px;
    border-radius: 10px;
  /* font-family: 'Seven Segment', sans-serif; */
  font-family: '7segment';
    text-align: center;
    color: red;
    font-size: 90px;
    background-color: black;
    margin-top: -20px;
    
}
#btn{
    /* font-family: 'Seven Segment', sans-serif; */
    font-family: '7segment';
    display: flex;
    justify-content: space-around;
    margin-top: -35px;
    margin-bottom:70px;
    background-color: 1B244A;
}
.b{
    background-color: 1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8 ;
    border-radius: 5px;
    padding: 10px;
    margin-top: -30px;
}
#reset{
    margin-top: 150px;
    height: 20px;
    padding: 10px 10px 30px 10px;
    font-weight: bolder;
}